# Java
*.class
*.jar
*.war
*.ear

# Maven
target/

# Logs
*.log
logs/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Kafka & PostgreSQL docker data
volumes/
*.pid

# Environment
.env
*.env

# Others
node_modules/
